/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */
header {
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
nav ul {
  display: flex;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: #000;
  font-weight: bolder;
}
body {
  background-color: #303030;
}
/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Jumbotron */
.container-jumbo {
  background-image: url("./assets/img/jumbotron.jpg");
  height: 400px;
  width: 100%;
}
/* Blue Bar */
.container-bluebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0282f9;
  padding: 50px;
  color: #fff;
  width: 100%;
}

.container-bluebar .icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-container img {
  display: block;
  width: 50px;
}

/* Footer */
.footer-container {
  display: flex;
  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
  position: relative;
}

.micro-layout {
  margin: 5px;
}

.micro-layout li a {
  color: #959595;
  line-height: 25px;
}

.micro-layout h4 {
  font-weight: bolder;
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-img {
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  width: 400px;
}

.smallfooter-container {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

button {
  background-color: #303030;
  color: #fff;
  border: 2px solid #0282f9;
  padding: 10px 15px;
  font-weight: bolder;
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social span {
  color: #0282f9;
  font-weight: bolder;
  text-align: center;
}
